nvim/.local/share/nvim/site/pack/packer/start
nvim/.local/share/nvim/project_nvim
newsboat/.newsboat/cache.db
mc/.local/share/mc/history
dwm/.config/dwm/config.h
dwm/.config/dwm/drw.o
dwm/.config/dwm/dwm
dwm/.config/dwm/dwm.o
dwm/.config/dwm/util.o
rclone/log.txt
nvim/.local/share/nvim/project_nvim
nvim/.local/share/nvim/site/pack/packer/start
dwm/.config/dwm/drw.o
dwm/.config/dwm/dwm
dwm/.config/dwm/dwm.o
dwm/.config/dwm/util.o
newsboat/.newsboat/cache.db
st/.config/st/x.o
st/.config/st/st.o
fonts/.local/share/fonts/.uuid
